## 1. **Imports**

#### 1.1. **Libraries**

In [1]:
import re
import numpy      as np
import pandas     as pd
import umap.umap_ as umap
import psycopg2
from sqlalchemy import create_engine

from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor

#### 1.2. **Helper Functions**

In [2]:
def to_snake(text: list[str]) -> list[str]:    
    '''
    Converts given text to snake_case.

    Parameters
    ----------
    text : list[str]
    Text to be converted.

    Returns
    -------
    text : list[str]
    New text in snake_case.
    '''  
    text = re.sub(r'(?<!^)(?=[A-Z])', '_', text).lower()
    return text

#### 1.3. **Collecting Data**

In [3]:
# Load data
path = 'C:/Users/bruno/OneDrive/Documentos/repos/ds-em-clusterizacao'
df_raw = pd.read_csv(path + '/data/ecommerce.csv', encoding='cp1252')

# Drop extra column
df_raw.drop(columns=['Unnamed: 8'], axis=1, inplace=True)

## 2. **Data Descriptions**

In [4]:
df2 = df_raw.copy()

#### 2.1. **Renaming Columns**

In [5]:
# Original columns
cols = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country']

# Applying to_snake function
snake = lambda x: to_snake(x) 
new_cols = list(map(snake, cols))

# Renaming
df2.columns = new_cols

# customer_i_d to customer_id
df2.rename(columns={'customer_i_d':'customer_id'}, inplace=True)

#### 2.2. **Treating NA**

In [6]:
df_missing = df2.loc[df2['customer_id'].isna(), :] # purchases with missing values on customer_id
df_not_missing = df2.loc[~df2['customer_id'].isna(), :] # purchases without missing values on customer_id

In [7]:
# Creating a reference table -> df_backup
start_id = df2['customer_id'].max() + 1 # first new customer_id = 18288
df_backup = pd.DataFrame(df_missing['invoice_no'].drop_duplicates()) # all unique invoice_no in df_missing
df_backup['customer_id'] = np.arange(start_id, start_id + len(df_backup), 1)

# Merging df_backup on df2
df2 = pd.merge(df2, df_backup, on='invoice_no', how='left')
df2['customer_id'] = df2['customer_id_x'].combine_first(df2['customer_id_y'])

# Dropping auxiliary columns
df2 = df2.drop(columns=['customer_id_x', 'customer_id_y'])

#### 2.3. **Changing Data Types**

In [8]:
# invoice_date
df2['invoice_date'] = pd.to_datetime(df2['invoice_date'], format='%d-%b-%y')

# customer_id
df2['customer_id'] = df2['customer_id'].astype('int64')

## 3. **Feature Filtering**

In [9]:
df3 = df2.copy()

In [10]:
# unit_price
df3 = df3.loc[df3['unit_price'] > 0.01, :] # removing all negative prices (there're some prices with values such as 0.0001 im them, hence the > 0.01)

# stock_code
df3 = df3[~df3['stock_code'].isin(['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY', 'DCGSSGIRL', 'PADS', 'B', 'CRUK', 'C2'])] # removing stock codes that aren't actual products

# description and country
df3 = df3.drop(columns=['description', 'country']) # dropping description and countries, as those aren't relevant when modelling

# bad users
bad_users = [13672, 12346, 13762, 18268, 14557, 16878, 13364, 
             14792, 12607, 12454,18274, 12558, 16446, 17548, 
             16546, 15823]
df3 = df3[~df3['customer_id'].isin(bad_users)] # removing bad users

# quantity
df_returns = df3.loc[df3['quantity'] < 0, :] # negative quantities - returns
df_purchase = df3.loc[df3['quantity'] >= 0, :] # positive quantities - actual purchases

## 4. **Feature Engineering**

In [11]:
df4 = df3.copy()

# Data reference - created so that we can add features on it latter
df_ref = df4[['customer_id']].drop_duplicates(ignore_index=True)

#### 4.1. **Creating Features**

4.1.1. **Gross Revenue**

Gross revenue for each customer, which is equal to quantity times unit price.

In [12]:
# Gross Revenue 
df_purchase = df_purchase.assign(gross_revenue=df_purchase['quantity']*df_purchase['unit_price'])
df_monetary = df_purchase[['gross_revenue','customer_id']].groupby('customer_id').sum().reset_index()
df_ref = pd.merge(df_ref, df_monetary, on='customer_id', how='left') # merging gross_revenue into df_ref

4.1.2. **Recency - Day from last purchase**

Period of time from current time to the last purchase. 

*current time is considered as the last day available in the dataset*.

In [13]:
# Recency
df_recency = df_purchase[['customer_id', 'invoice_date']].groupby('customer_id').max().reset_index() # last purchase date for each customer
df_recency['recency_days'] = (df_purchase['invoice_date'].max() - df_recency['invoice_date']).dt.days # getting the recency
df_recency = df_recency[['customer_id', 'recency_days']].copy()
df_ref = pd.merge(df_ref, df_recency, on='customer_id', how='left') # merging recency_days into df_ref

4.1.3. **Purchases Quantity**

Amount of times a person's made any purchase.

In [14]:
# Purchases Quantity
df_purchases_quantity = df_purchase[['invoice_no','customer_id']].drop_duplicates().groupby('customer_id').count().reset_index().rename(columns={'invoice_no':'purchases_quantity'})
df_ref = pd.merge(df_ref, df_purchases_quantity, on='customer_id', how='left') # merging purchases quantity into df_ref

4.1.4. **Quantity of Items**

Total quantity of items purchased.

In [15]:
# Quantity of Items
df_quantity = df_purchase[['quantity','customer_id']].groupby('customer_id').sum().reset_index().rename(columns={'quantity':'qt_items'})
df_ref = pd.merge(df_ref, df_quantity, on='customer_id', how='left') # merging qt_items into df_ref

4.1.8. **Returns**

Amount of products quantities returned.

In [16]:
# Returns
df_returns = df_returns[['customer_id', 'quantity']].groupby('customer_id').sum().reset_index().rename(columns={'quantity':'qt_returns'}) # counting the amount of products returned
df_returns['qt_returns'] = df_returns['qt_returns']*-1 # setting quantity values to positive
df_ref = pd.merge(df_ref, df_returns, on='customer_id', how='left') # merging returns into df_ref
df_ref.loc[df_ref['qt_returns'].isna(), 'qt_returns'] = 0 # replacing NA returns with 0, which means a customer has never made a return

4.1.9. **purchased_returned_diff**

Natural log of difference between purchases and returns: 

$purchased\_returned\_diff = \ln\left({\dfrac{quantity\_of\_items}{qt\_returns}}\right)$

In [17]:
# Log of difference between purchases and returns
df_ref['purchased_returned_diff'] = np.log(df_ref['qt_items'] - df_ref['qt_returns'])

## 5. **Exploratory Data Analysis (EDA)**

In [18]:
df5 = df_ref.dropna().copy()

## 6. **Data Preparation**

In [19]:
df6 = df5.copy()

In [20]:
mm = MinMaxScaler()

df6['gross_revenue'] = mm.fit_transform(df6[['gross_revenue']])
df6['recency_days'] = mm.fit_transform(df6[['recency_days']])
df6['purchases_quantity'] = mm.fit_transform(df6[['purchases_quantity']])
df6['qt_returns'] = mm.fit_transform(df6[['qt_returns']])
df6['qt_items'] = mm.fit_transform(df6[['qt_items']])
df6['purchased_returned_diff'] = mm.fit_transform(df6[['purchased_returned_diff']])

## 7. **Feature Selection**

## 8. **Space Analysis and Dimensionality Reduction**

In [21]:
df8 = df6.copy()

#### 8.3. **Tree-Based Embedding**

In [22]:
# Training Data
X = df8.drop(columns=['customer_id', 'gross_revenue'])
y = df8['gross_revenue'].copy()

# Model Definition
rf_model = RandomForestRegressor(n_estimators=100, 
                                 min_samples_split=32,                                 
                                 n_jobs=-1,
                                 random_state=42)
# Model Training
rf_model.fit(X, y)

# DataFrame Leaf
df_leaf = pd.DataFrame(rf_model.apply(X)) # Apply trees in the forest to X, return leaf indices.     

# Reducing Dimensionality
reducer = umap.UMAP(n_neighbors=200, 
                    random_state=42, 
                    metric='manhattan', 
                    n_epochs=450)

embedding = reducer.fit_transform(df_leaf) # reducing dimensionality to 2d     
df_tree = pd.DataFrame()

# Embedding
df_tree['embedding_x'] = embedding[:, 0] # x component
df_tree['embedding_y'] = embedding[:, 1] # y component

In [23]:
# Rescaling df_tree
mm = MinMaxScaler()

df_tree['embedding_x'] = mm.fit_transform(df_tree[['embedding_x']])
df_tree['embedding_y'] = mm.fit_transform(df_tree[['embedding_y']])

In [24]:
df_tree

      embedding_x  embedding_y
0        0.954408     0.203594
1        0.944175     0.241854
2        0.762645     0.015281
3        0.785903     0.629727
4        0.300886     0.756669
...           ...          ...
5685     0.922310     0.323514
5686     0.960786     0.224433
5687     0.660737     0.377764
5688     0.671971     0.374229
5689     0.969744     0.814752

[5690 rows x 2 columns]

## 9. **Machine Learning Modeling**

In [25]:
# X
X = df_tree.copy()

# Defining the model
kmeans_model = KMeans(n_clusters=8, random_state=42)  # 8 to 11 provides good results

# Training the model
kmeans_model.fit(X)

# Predict
kmeans_labels = kmeans_model.predict(X)

## 10. **Final DataFrame**

In [26]:
df_final = df5.copy()
df_final['cluster'] = kmeans_labels
df_final['cluster'] = df_final['cluster'].apply(lambda x: 'insiders' if x == 0
                                                            else 'runners_up' if x == 5 
                                                            else 'promising' if x == 6 
                                                            else 'potentials' if x == 1 
                                                            else 'need_attention' if x == 7 
                                                            else 'about_to_sleep' if x == 4 
                                                            else 'at_risk' if x == 3
                                                            else 'about_to_lose')

In [27]:
# Changing dtypes
df_final['recency_days'] = df_final['recency_days'].astype('int64')
df_final['purchases_quantity'] = df_final['purchases_quantity'].astype('int64')
df_final['qt_items'] = df_final['qt_items'].astype('int64')
df_final['qt_returns'] = df_final['qt_returns'].astype('int64')

## 11. **Deploy**

#### 11.1. **Inserting data to PostgreSQL**

In [28]:
# # establish connections
# conn_string = 'postgresql://outleto_database_i6iq_user:cB48h09VeQsMHz22ScmpYurzXgjvfBKM@dpg-ce0dh92rrk09esa12060-a.oregon-postgres.render.com/outleto_database_i6iq'

# db = create_engine(conn_string)
# conn = db.connect()
# conn1 = psycopg2.connect(
# database="outleto_database_i6iq",
# user='outleto_database_i6iq_user',
# password='cB48h09VeQsMHz22ScmpYurzXgjvfBKM',
# host='dpg-ce0dh92rrk09esa12060-a.oregon-postgres.render.com',
# port= '5432'
# )

# conn1.autocommit = True
# cursor = conn1.cursor()

# # drop table if it already exists
# cursor.execute('drop table if exists customers')

# query = """
#     CREATE TABLE customers (
#         customer_id INTEGER,
#         gross_revenue REAL,
#         recency_days INTEGER,
#         purchases_quantity INTEGER,
#         qt_items INTEGER,
#         qt_returns INTEGER, 
#         purchased_returned_diff REAL,
#         cluster CHAR
#     )
# """
# cursor.execute(query)

# conn = create_engine('postgresql://outleto_database_i6iq_user:cB48h09VeQsMHz22ScmpYurzXgjvfBKM@dpg-ce0dh92rrk09esa12060-a.oregon-postgres.render.com/outleto_database_i6iq')
# df_final.to_sql('customers', con=conn, if_exists='replace', index=False)

# conn1.commit()
# conn1.close()